.logo-main {
    display: flex;
    align-items: center;
    padding-right: 10px;
    text-decoration: none;
}

.logo {
    width: 140px;
    padding: 5px 10px;
}


ul {
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 0.9rem;
    margin: 0;
}

ul li .btn-header {
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    color: var(--gray-dark);
    padding: 5px 0;
    transition: 0.5s;
    font-size: 0.9em;
    transition: 0.1s ease-in;
    border-bottom: none;
}

ul li .btn-header:hover {
    border-bottom: 2px solid var(--toastify-color-dark);
}

ul li .btn-blog {
    background: -webkit-linear-gradient(#1cffb3, #5996f0);
    color: var(--toastify-color-dark);
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    transition: 0.5s;
    font-size: 0.9em;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease-in;
}

ul li .btn-blog:hover {
    background: transparent;
}

.spacer {
    flex: 1;
}